NPM_TAG=latest
NPM_DATA_DIR=./container-data/npm
NPM_DB_TAG=latest
NPM_DB_DATA_DIR=./container-data/npm-db
NPM_DB_MYSQL_ROOT_PASSWORD=
NPM_DB_DATABASE=
NPM_DB_USER=
NPM_DB_PASSWORD=
PORTAINER_TAG=latest
PORTAINER_DATA_DIR=./container-data/portainer
ADGUARD_TAG=latest
ADGUARD_DATA_DIR=./container-data/adguard
JENKINS_TAG=lts
JENKINS_DATA_DIR=./container-data/jenkins
MARIADB_TAG=latest
MARIADB_DATA_DIR=./container-data/mariadb
MARIADB_MYSQL_ROOT_PASSWORD=
MONGODB_TAG=latest
MONGODB_DATA_DIR=./container-data/mongodb
MONGODB_ROOT_USERNAME=
MONGODB_ROOT_PASSWORD=
NETDATA_TAG=latest
NETDATA_DATA_DIR=./container-data/netdata
MONGODB_GRAYLOG_TAG=4.2
MONGODB_GRAYLOG_DATA_DIR=./container-data/mongodb-graylog
ELASTICSEARCH_GRAYLOG_TAG=7.10.2
ELASTICSEARCH_GRAYLOG_DATA_DIR=./container-data/elasticsearch-graylog
GRAYLOG_TAG=4.0
GRAYLOG_DATA_DIR=./container-data/graylog
GRAYLOG_PASSWORD_SECRET=
GRAYLOG_ROOT_PASSWORD_SHA2=
